body {
    background-image: url(/Logo/tennis1.jpg);
    background-repeat: no-repeat;
    background-attachment: wrap;
    background-size: 200vh;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(/Logo/tennis1.jpg)
    
  }
      /* <------------------------------------------HEADER-------------------------------------> */
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      
  }   
  
  nav{
    background: #004417;
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: wrap;
    background-size: cover;
    background-color: black;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  }
  
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }
  header ul li a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 40px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: inline-block;
      margin: 10px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 17px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  
  /* Huvudfonten med färg */
  article { 
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .container{
    width: 360px;
    height: 400px;
    margin: 15% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  h3{
    text-align: center;
    margin-bottom: 40px;
    color: #777;
  }
  .container form {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0,5s;
  }
  .label{
  
  padding-right: 30px
  
  
  }
  form input {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    
  }
  ::placeholder{
    color: #777;
    
  }
  .btn-box {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
  }
  form button {
    width: 110px;
    height: 35px;
    margin: 10px 0px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    

  }
  #Form2{
    left: 450px;
  }
  #Form3{
    left: 450px;
  }
  .step-row{
      width: 340x;
      height: 40px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      box-shadow: 0 -1px 5px -1px #000;
      position: relative;
      
  }
  .step-col{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
    
  }
  #progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    transition: 1s;
  }
  #progress::after{
     content: '';
     height: 0;
     width: 0;
     border-top: 20px solid transparent;
     border-bottom: 20px solid transparent;
     position: absolute;
     right: -20px;
     top: 0;
     border-left: 20px solid #ffad06;


  }
  .checkbox {
    
    padding-right: 150px;

  }
  .bokatext {
    
    padding-top: 15px
    
  }
  .startknapp {


    height: 35px;
    margin: 0 0px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    align-items: center;
    width: fit-content;
    
      width: 100px;
      margin: 0px auto;
      text-align: center;
      color: rgb(253, 251, 251);
      text-decoration: none;
      list-style: none;
      padding-left: 5px;
      display: inline-block
      
      
    
  }
  .startknapp a {

    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    padding-left: 35px;
    padding-top: 10px;
  }
  .bakåtknapp {
    
    display: inline-block;
    padding-left: 26px;
    align-items: center;
    margin-top: 8px;

  } 
 