
body {
    background-image: url(/Logo/tennis1.jpg);
    background-repeat: no-repeat;
    background-attachment: wrap;
    background-size: 200vh;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(/logo/tennis1.jpg)
    
  }
      /* <------------------------------------------HEADER-------------------------------------> */
    * {
      margin: 0;
      padding: 0;
      
  }   
  nav{
    background: #004417;
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: wrap;
    background-size: cover;
    background-color: black;
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.8;
    opacity: 0.8;
  }
  
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 40px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 10px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 17px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  

  .schemat {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

  }


  .openinghours {
    font-family:Lucida Console;
    border-radius:4px;
    margin:10px;
    padding: 25px 15px;
    overflow: hidden;
    display: inline-block;
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );
    
    

}
.openinghourscontent {

    float: left;
    background-color: white;
}
.openinghourscontent h2 {
    display:block;
    text-align:center;
    margin-top:.33em;
    padding-bottom: 10px;
}
.openinghourscontent button {
    color:white;
    font-family:Courier New;
    font-size:large;
    font-weight:bolder;
    background-color:#4679BD;
    border-radius:4px;
    width:100%;
    margin-bottom:10px;
}
.today {
    color: #8AC007;
}
.opening-hours-table tr td:first-child {
    font-weight:bold;
}
#open-status {
    display:block;
    margin-top:-1em;
    text-align:center;
    border:dotted lightgrey 3px;
}
.openorclosed:after {
    content:" open during these hours:";
}
.open {
    color:green;
}
.open:after {
    content:" Open";
    color: #6C0;
}
.closed:after {
    content:" Closed";
    color: red;
}
.opening-hours-table tr td {
    padding:5px;
}


 